.DS_Store
.idea
__pycache__/
frontend
migrations
*.py[cod]
*$py.class
testfile
**/*.zip
**/*.rar

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin


hello.plc0
result